{% load static %}

<div class="pagina-inicial">
    <header class="cabecalho">
        <img class="cabecalho__logo" src="{% static '/assets/logo/logo.svg' %}" alt="Logo da Galeria Mundi" />
        {% include 'partials/_alertas.html' %}
        <div class="cabecalho__busca">
            <div class="busca__fundo">
                <form action="{% url 'buscar' %}">
                    <input class="busca__input" type="text" name="buscar" placeholder="O que você procura?">
                    <button type="submit">
                        <img class="busca__icone" src="{% static '/assets/ícones/1x/Busca.png' %}" alt="ícone de busca">
                    </button>                    
                </form>
            </div>
        </div>
    </header>
    <main class="principal">
        <section class="menu-lateral">
            <nav class="menu-lateral__navegacao">
                <a href="{% url 'index' %}"><img class="icone" src="{% static '/assets/ícones/1x/Home.png' %}"> Home</a>
                <a href="{% url 'login' %}"><img class="icone" src="{% static '/assets/ícones/1x/Login.png' %}"> Login</a>
                <a href="{% url 'cadastro' %}"><img class="icone" src="{% static '/assets/ícones/1x/NovoUsuario.png' %}"> Cadastrar Artista</a>
                <a href="{% url 'nova_obra' %}"><img class="icone" src="{% static '/assets/ícones/1x/NovaObra.png' %}"> Cadastrar Obra</a>
                <a href="{% url 'logout' %}"><img class="icone" src="{% static '/assets/ícones/1x/Logout.png' %}"> Logout</a>
            </nav>
        </section>